@font-face {
    font-family: 'Hyuny Dororong';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HyunyDororong/HyunyDororong.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HyunyDororong/HyunyDororong.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HyunyDororong/HyunyDororong.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HyunyDororong/HyunyDororong.ttf') format('truetype');
}
